.navbar {
	margin-bottom: 0px;
	
	img {
		width:100%;
		max-width: 200px;
	}

	ul{
		padding-top: 40px;
	}
}	


.text-white{
	color: #fff;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        //background-color: #eee;


    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .navbar {
        img {
        max-width:100px;
    }

    .navbar-brand-centered {
        margin-bottom:30px;

    }

    }
    
}
