div.answer,div.flip
{
    margin:0px;
    padding:5px;
    text-align:center;
    background:#e5eecc;
    border:solid 1px #c3c3c3;
    width:140px;
}

div.answer
{
    display:none;
}
div.question
{
    float:left;
}
div.questions
{
    height: 80px;
}